h1 {
  margin: 20px;
  background-color: red;
  width: 42vw;
  height: 500px;
}

p.decorated{
  text-decoration: underline;
  text-indent: 50px;
  letter-spacing: .1em;
}

p {
  text-transform: capitalize;
  font-family: 'Lemonada', cursive;
}

.second-header {
  text-shadow: 2px 2px blue;
}

a:link {
  color:blue;
}

a:hover {
  color:red;
}

a:active {
  color: green;
}

a:visited {
  color:black;
}
